.background {
  background: center no-repeat url(res/background.png);
}

.logo {
  background-image: url(res/logo.png);
}

.progressBar {
  background-color: rgb(118, 255, 3);
}

.splash {
  background-image: url(res/splash.png);
  background-size: 100%;
}

.watermark {
  background-image: url(res/watermark.png);
  background-size: 57px 57px;
}
