body {
  --playback-logo-image: url('res/logo.png');
}

cast-media-player {
  --theme-hue: 180;
  --progress-color: rgb(188, 255, 3);
  --splash-image: url('res/background.png');
  --splash-size: cover;
}
