

background {
  background: center no-repeat url(https://i.imgur.com/e1jIDTs.png);
}

.logo {
  background-image: url(https://i.imgur.com/xtDgL59.png);
}

.progressBar {
  background-color: rgb(118, 255, 3);
}

.splash {
  background-image: url(https://i.imgur.com/jHWshue.png);
  background-size: 100%;
}

.watermark {
  background-image: url(https://i.imgur.com/xtDgL59.png);
  background-size: 57px 57px;
}
